#cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    border-top: 1px solid #444;
    margin-top: 5px;
}

.cart-item-tile {
    width: 60px;
    height: 80px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cart-item-tile img {
    width: 50px;
    height: 50px;
}

.cart-item-tile div.product-counter {
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
